<div id="top" class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">植物管家</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'index' %}">首页</a></li>
                <li><a href="{% url 'gallery' %}">相册</a></li>
                <li><a href="{% url 'rank' %}">排行榜</a></li>
                <li><a href="{% url 'news' %}">新闻中心</a></li>
                <li><a href="{% url 'notify' %}">通知
                    <span class="new badge red" data-badge-caption="消息">2</span>
                </a></li>
                <li><a href="{% url 'user_center' %}">用户中心</a></li>
            </ul>
        </div>
    </nav>
</div>

{#<div style="margin: 12px">#}
{#    <a href="#" data-target="slide-out" class="sidenav-trigger btn-floating btn-large red">#}
{#        <i class="material-icons">chevron_right</i></a>#}
{#</div>#}

<ul id="slide-out" class="sidenav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">First</a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li><a href="#!">Fourth</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>
