body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.horizontally-centered {
    margin: 24px auto;
}

.horizontally-margin {
    margin: 24px 15%;
}