<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="icon" href="/static/favicon.ico"/>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row align-items-center action-bar">
        <div class="col">
            <a href="#">
                <div class="row align-items-center">
                    <span style="margin-left: 12px">
                        新闻
                    </span>
                    <span style="margin-left: 12px">
                        通知
                    </span>
                    <span style="margin-left: 12px">
                        排行榜
                    </span>
                </div>
            </a>
        </div>
        <div class="col logo">
            <a href="#">
                <img src="/static/images/logo.png">
            </a>
        </div>
        <div class="col text-login">
            <a href="#">注册</a> | <a href="{% url 'account' %}">登录</a></div>
    </div>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <ul style="list-style: none">
                <li>
                    <div class="container" style="margin-top: 10px;background:#ffffff;
                         padding: 10px 20px;">
                        <div class="row align-items-center">
                            <img src="/static/images/logo.png"
                                 style="width: 32px;height: 32px;margin-left: 24px">
                            <div style="font-weight: 600;color:#24292e;
                            font-size: 18px;margin-left: 8px">
                                huangshengjie</div>
                            <div style="color: #6a737d;font-size: 12px">10分钟前</div>
                        </div>
                        <div class="row" style="padding-left: 64px;font-size: 16px">
                            233333333333333333333333333333333333333333333<br>
                            23333<br>
                            23333<br>
                            2333
                        </div>
                    </div>
                </li>
                <li>
                    <div class="container" style="margin-top: 10px;background:#ffffff;
                         padding: 10px 20px;">
                        <div class="row align-items-center">
                            <img src="/static/images/logo.png"
                                 style="width: 32px;height: 32px;margin-left: 24px">
                            <div style="font-weight: 600;color:#24292e;
                            font-size: 18px;margin-left: 8px">
                                huangshengjie</div>
                            <div style="color: #6a737d;font-size: 12px">10分钟前</div>
                        </div>
                        <div class="row" style="padding-left: 64px;font-size: 16px">
                            233333333333333333333333333333333333333333333<br>
                            23333<br>
                            23333<br>
                            2333
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>

<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
