<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="icon" href="/static/favicon.ico"/>

    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row align-items-center action-bar">
        <div class="col">
            <a href="#">
                <div class="row align-items-center">
                    <div class="col">
                        新闻
                    </div>
                    <div class="col">
                        通知
                    </div>
                    <div class="col">
                        排行榜
                    </div>
                </div>
            </a>
        </div>
        <div class="col logo">
            <a href="#">
                <img src="/static/images/logo.png">
            </a>
        </div>
        <div class="col text-login">
            <a href="#">注册</a> | <a href="#">登录</a></div>
    </div>
</div>

<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
