<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>排行榜</title>

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
{% include 'application/include/nav.html' %}

<ul id="tabs-swipe-demo" class="tabs" style="text-align: center;margin-bottom: 10px">
    {% for rank in ranks %}
        {% if rank.id == tab %}
            <li class="tab col s3"><a class="active" href="#tab-{{ rank.id }}">{{ rank.name }}</a></li>
        {% else %}
            <li class="tab col s3"><a href="#tab-{{ rank.id }}">{{ rank.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

{% for rank in ranks %}
    <div id="tab-{{ rank.id }}" class="col s12 blue">
        <ul>
            {% for vote in votes %}
                {% if vote.rank.id == rank.id %}
                    <li>
                        {{ vote.id }} : {{ vote.rank }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}

{% include 'application/include/footer.html' %}

<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
