<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>排行榜</title>

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
{% include 'application/include/nav.html' %}

<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
</ul>
<div id="test-swipe-1" class="col s12 blue">Test 1</div>
<div id="test-swipe-2" class="col s12 red">Test 2</div>
<div id="test-swipe-3" class="col s12 green">Test 3</div>

<ul class="collection with-header horizontally-margin">
    {% for item in notify %}
        <li class="collection-item">
            <a href="/plant/notify_content?id={{ item.id }}" class="collection-item">
                <span class="new badge red" data-badge-caption="通知">{{ item.date }}</span>
                {{ item.title }}</a>
        </li>
    {% endfor %}
</ul>

<ul class="pagination horizontally-centered">
    {% if notify.has_previous %}
        <li class="waves-effect"><a href="?page={{ notify.previous_page_number }}"><i
                class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for page_num in notify.paginator.page_range %}
        {% if page_num == notify.number %}
            <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% else %}
            <li class="waves-effect"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
        {% endif %}
    {% endfor %}
    {% if notify.has_next %}
        <li class="waves-effect"><a href="?page={{ notify.next_page_number }}"><i
                class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>

{% include 'application/include/footer.html' %}

<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
