<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .left-menu li {
            font-size: 20px;
            margin-top: 24px;
        }

        .left-menu li:first-child {
            margin-top: 36px;
        }
    </style>
</head>
<body>
{% include 'application/include/nav.html' %}

<div class="row container">
    <div class="col s3">
        <ul class="left-menu">
            <li>
                <button id="btn_basic" class="btn waves-effect waves-light">
                    基本信息<i class="material-icons right">send</i>
                </button>
            </li>
            <li>
                <button id="btn_plant" class="btn waves-effect waves-light">
                    我的植物<i class="material-icons right">send</i>
                </button>
            </li>
            <li>
                <button id="btn_gallery" class="btn waves-effect waves-light">
                    我的相册<i class="material-icons right">send</i>
                </button>
            </li>
            <li>
                <button id="btn_update" class="btn waves-effect waves-light">
                    修改账户<i class="material-icons right">send</i>
                </button>
            </li>
            <li>
                <button data-target="modal_sign_out" class="btn waves-effect waves-light modal-trigger">
                    退出登录<i class="material-icons right">send</i>
                </button>
            </li>
        </ul>
    </div>

    <div class="col s9">
        <div id="section_basic">
            <h5>基本信息</h5>
            <div class="divider"></div>
            <div class="section">
                <h5>用户名</h5>
                <p>{{ user.name }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>密码</h5>
                <p>{{ user.password }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>邮箱</h5>
                <p>{{ user.email }}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h5>手机号</h5>
                <p>{{ user.phone }}</p>
            </div>
        </div>

        <div id="section_plant" style="display: none; margin-top: 45px">
            <button id="btn_new_plant" class="btn waves-effect waves-light">创建我的植物
                <i class="material-icons right">send</i>
            </button>

            <div style="display: flex; margin-top: 20px">
                {% for item in plants %}
                    <a href="">
                        <div style="margin-right: 15px">
                            <img src="/static/{{ item.avatar }}" style="width: 200px;height: 200px">
                            <p>{{ item.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div id="section_new_plant" style="display: none; margin-top: 45px">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="input-field">
                    <select>
                        <option value="" disabled selected>请选择</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>植物类别</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input-plant-name" class="autocomplete">
                    <label for="autocomplete-input-plant-name">植物名</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input-plant-address" class="autocomplete">
                    <label for="autocomplete-input-plant-address">植物产地</label>
                </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>植物头像</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

                <div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        创建一株植物<i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>

        <div id="section_gallery" style="display: none; margin-top: 45px">
            <button id="btn_new_gallery" class="btn waves-effect waves-light">创建我的相册
                <i class="material-icons right">send</i>
            </button>

        </div>

        <div id="section_new_gallery" style="display: none; margin-top: 45px">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}

                <div class="input-field">
                    <select>
                        <option value="" disabled selected>请选择</option>
                        <option value="1">植物1</option>
                        <option value="2">植物2</option>
                        <option value="3">植物3</option>
                    </select>
                    <label>植物</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input-gallery-name" class="autocomplete">
                    <label for="autocomplete-input-gallery-name">相册名</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input-gallery-desc" class="autocomplete">
                    <label for="autocomplete-input-gallery-desc">描述</label>
                </div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input-gallery-date" class="datepicker">
                    <label for="autocomplete-input-gallery-date">日期</label>
                </div>

                <div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        创建一本相册<i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>

        <div id="section_update" style="display: none">
            <h5>修改账户</h5>
            <div class="divider"></div>
            <div class="row">
                <form action="{% url 'user_update' %}" method="post" class="col s12">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2_name" name="name" class="materialize-textarea"
                                      maxlength="10">{{ user.name }}</textarea>
                            <label for="icon_prefix2_name">用户名</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2_password" name="password" class="materialize-textarea"
                                      maxlength="10">{{ user.password }}</textarea>
                            <label for="icon_prefix2_password">密码</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2_email" name="email" class="materialize-textarea"
                                      maxlength="10">{{ user.email }}</textarea>
                            <label for="icon_prefix2_email">邮箱</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="icon_prefix2_phone" name="phone" class="materialize-textarea"
                                      maxlength="11">{{ user.phone }}</textarea>
                            <label for="icon_prefix2_phone">手机号</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">提交
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal_sign_out" class="modal">
    <div class="modal-content">
        <h4>退出登录</h4>
        <p>你将退出此账号</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">取消</a>
        <a href="{% url 'sign_out' %}" class="modal-close waves-effect waves-green btn-flat">确定退出</a>
    </div>
</div>

{% include 'application/include/footer.html' %}

<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    document.getElementById("btn_basic").onclick = function () {
        resetStatus();
        document.getElementById("section_basic").style.display = "block";
    };
    document.getElementById("btn_plant").onclick = function () {
        resetStatus();
        document.getElementById("section_plant").style.display = "block";
    };
    document.getElementById("btn_new_plant").onclick = function () {
        resetStatus();
        document.getElementById("section_new_plant").style.display = "block";
    };
    document.getElementById("btn_gallery").onclick = function () {
        resetStatus();
        document.getElementById("section_gallery").style.display = "block";
    };
    document.getElementById("btn_new_gallery").onclick = function () {
        resetStatus();
        document.getElementById("section_new_gallery").style.display = "block";
    };
    document.getElementById("btn_update").onclick = function () {
        resetStatus();
        document.getElementById("section_update").style.display = "block";
    };

    function resetStatus() {
        document.getElementById("section_basic").style.display = "none";
        document.getElementById("section_plant").style.display = "none";
        document.getElementById("section_new_plant").style.display = "none";
        document.getElementById("section_gallery").style.display = "none";
        document.getElementById("section_new_gallery").style.display = "none";
        document.getElementById("section_update").style.display = "none";
    }
</script>
</body>
</html>
